<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
		<title>Travel Logger</title>
		<script src="/stylesheets/style.css"></script>
		<script>
			var api_key = "{{GAPI_KEY}}";
		</script>
	</head>
	
	<body>
		{{{ body }}}
	</body>
</html>
