<!DOCTYPE html>
<html lang="en">

<head>
  <title>Inspect</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="stylesheets/style.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <a class="navbar-brand" href="/members">
        <button> Home Page </button>
      </a>

      
<header>Your Own Personal Travel Log</header>



<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="https://th.bing.com/th/id/R11e4b087cdba88c3bfcb5084b7960a69?rik=lFQpg%2fwe9ou%2fxg&riu=http%3a%2f%2fwww.golfbc.com%2fimages%2fcourses%2fnicklaus_north%2fphotos%2fscenic%2fnn_scenic3.jpg&ehk=c7wZ%2bBCAQ5mrrQRJC%2bKt3ngW3wZjJoIXoo9kT%2fEtxso%3d&risl=&pid=ImgRaw"
                alt="Los Angeles">
        </div>

        <div class="item">
            <img src="https://th.bing.com/th/id/R11e4b087cdba88c3bfcb5084b7960a69?rik=lFQpg%2fwe9ou%2fxg&riu=http%3a%2f%2fwww.golfbc.com%2fimages%2fcourses%2fnicklaus_north%2fphotos%2fscenic%2fnn_scenic3.jpg&ehk=c7wZ%2bBCAQ5mrrQRJC%2bKt3ngW3wZjJoIXoo9kT%2fEtxso%3d&risl=&pid=ImgRaw"
                alt="Chicago">
        </div>

        <div class="item">
            <img src="https://th.bing.com/th/id/R11e4b087cdba88c3bfcb5084b7960a69?rik=lFQpg%2fwe9ou%2fxg&riu=http%3a%2f%2fwww.golfbc.com%2fimages%2fcourses%2fnicklaus_north%2fphotos%2fscenic%2fnn_scenic3.jpg&ehk=c7wZ%2bBCAQ5mrrQRJC%2bKt3ngW3wZjJoIXoo9kT%2fEtxso%3d&risl=&pid=ImgRaw"
                alt="New York">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



<div class="row">
    <div class="col-sm-6">Your own space to leave a note, comment, or review for yourself to remember. Use this opportunity to help you remind someone else or yourself of an up and coming event or something. Consider this your own personal thinking/ planning space. Log away!</div>
    <div class="col-sm-6">
        <img src="https://th.bing.com/th/id/R7c29a1a5b64256578ecfede517a5843a?rik=HzfAdDb6D3Cg0g&riu=http%3a%2f%2fonemorecupof-coffee.com%2fwp-content%2fuploads%2f2013%2f05%2fThumbs-Up.png&ehk=XDCt%2b2wRPkiHcmFBDnrDkMva85WxQogx8fF1EPJpbcU%3d&risl=&pid=ImgRaw"
            alt="thumbs up" width="50px" height="100px">

        Thumbs up review
    </div>
</div>
<div class="footer">
    <h1>Information</h1>

</div>
<hr>
<button>
          <a class="btn btn-light" href="/cms">Click HERE to create note</a>
          </button>
          <hr>

<div class="container">
    <div class="row mt-4">
      <div class="col-md-4">
        {{!-- <div class="form-group">
          <select class="custom-select" id="category">
            <option selected value="">All Categories</option>
            <option value="Personal">Personal</option>
            <option value="Product Review">Product Review</option>
            <option value="Political">Political</option>
          </select>
        </div> --}}
      </div>
      <div class="col-md-2">
          {{!-- <button>
        <a class="btn btn-light" href="/cms">New Post</a>
        </button> --}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 blog-container">
      </div>
    </div>
  </div>
  <!-- Custom Script -->
  <script src="js/blog.js" type="text/javascript"></script>


<div class="container">
    <div class="row">
      <div class="row">
        <div class="col-sm-2 mt-4">
            
        </div>
      </div>
      <div class="col-md-5 offset-md-3">
        {{!-- <form id="cms">
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title">
            <br />
            <label for="body">Body:</label>
            <textarea class="form-control" rows="10" id="body"></textarea>
            <div class="form-group">
              <label for="category">Select Category:</label>
              <select class="custom-select" id="category">
                <option value="Personal">Personal</option>
                <option value="Product Review">Product Review</option>
                <option value="Political">Political</option>
              </select>
            </div>
            <br />
            <button type="submit" class="btn btn-success submit btn-lg">Submit</button>
          </div>
        </form> --}}
      </div>
    </div>
  </div>
  <!-- Custom Script -->
  <script src="js/cms.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>



</body>
</html>
